# put this in your ~/.wakatime.cfg file

[settings]
api_url = https://hackatime.hackclub.com/api/hackatime/v1
api_key = 8f93c0d1-b9b5-4905-b018-5b386d43128a

# any other wakatime configs you want to add: https://github.com/wakatime/wakatime-cli/blob/develop/USAGE.md#ini-config-file
  