@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

* {
  margin:0;
  padding:0; 
  box-sizing:border-box;  
  font-family: 'lexend-deca', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #f0f4f8, #003372);
    color: #111827;
}

.container {
    margin: 0 15px;
}

.form-box {
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;

}

.form-box.active {
    display: block;
}

h2 {
    margin-bottom: 20px;
    font-size: 34px;
    text-align: center;
    color: #003372;
}

input, 
select {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #003372;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.5s;
}

button:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

p a {
    color: #003372;
    text-decoration: none;
    font-weight: bold;
}

p a:hover {
    text-decoration: underline;
}

